:host {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  width: 256px;
  height: 48px;
  display: inline-block;
  position: relative;
  font-family: Roboto, sans-serif;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  background-color: transparent;
}

:host([label]) {
  height: 72px;
}

:host([label]) #input {
  margin-top: 14px;
}

:host([label]) #hint {
  margin-top: 25px;
}

#label, #hint {
  position: absolute;
  line-height: 22px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  -webkit-user-select: none;
}

#label {
  color: rgba(0, 0, 0, 0.298039);
  top: 38px;
  transform: scale(1) translate3d(0px, 0px, 0px);
  transform-origin: left top 0px;
}

#label.floating {
  transform: perspective(1px) scale(0.75) translate3d(0px, -28px, 0px);
}

#label.active {
  color: var(--silk-input-focus-color);
}

#hint {
  color: black;
  opacity: 0;
  top: 13px;
}

#hint.visible {
  opacity: 0.298039;
}

#input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.870588);
  cursor: initial;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
}

#underline {
  border-bottom-width: 1px;
  border-style: none none solid;
  border-color: rgb(224, 224, 224);
  bottom: 8px;
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 100%;
}

#active-underline {
  border-bottom-width: 2px;
  border-style: none none solid;
  border-color: var(--silk-input-focus-color);
  bottom: 8px;
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#active-underline.active {
  transform: scaleX(1);
}
